.bg {
  --sangria-10: 246, 210, 226;
  --honeycomb-30: 236, 178, 46;

  background: radial-gradient(circle at 50% 50%, rgb(var(--sangria-10)) 20%, transparent 80%),
    conic-gradient(
      from 45deg at 50% 50%,
      rgb(var(--honeycomb-30)) 0%,
      rgb(var(--sangria-10)) 25%,
      rgb(var(--honeycomb-30)) 50%,
      rgb(var(--sangria-10)) 75%,
      rgb(var(--honeycomb-30)) 100%
    );
}
